* {
  font-family: verdana;  
}
body {
    background-color: aqua;
}
h1, h2, h3, h4 {
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#Nav_Bar {
    /* supposed to make menu list run horizontally */
    display: inline;
}
a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}  
a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
